.container {
	max-width: 100%;
	margin-top: 10%;
}

.nav-tabs {
	background-color: gainsboro;
}

.nav-tabs .nav-link.active {
	background-color: #ababba;
}

img {
	border: 1px solid #ddd; /* Gray border */
	border-radius: 4px; /* Rounded border */
	//padding: 5px; /* Some padding */
	height: 50px;
	width: 40px;
}

/* Add a hover effect (blue shadow) */
img:hover {
	box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
	transform: scale(3);
}